.button {
  font: inherit;
  font-size: 1.25rem;
  padding: 0.5rem 1.5rem;
  color: white;
  background-color: rgb(141, 19, 104);
  outline: none;
  border: none;
  border-radius: 1em;
  cursor : pointer;
}

.button:hover,
.button:active{
    color : rgb(135, 188, 236);
}

button:disabled,
button:focus:disabled,
button:hover:disabled,
button:active:disabled {
  background: #ccc;
  border-color: #ccc;
  color: #666666;
  cursor: not-allowed;
}