.nav li {
  list-style: none;
  margin-left: 2.5rem;
}

.nav a {
  text-decoration: none;
  color: white;
  transition: all 0.1s;
}

.nav a:hover,
.nav a:focus {
  color: rgb(207, 172, 240);
}

.nav ul {
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
}
